Asal sayılar düzenli aralıklarla yerleştirilmez. Örnek için 2için 3boşluğudur 1. Gönderen 3için 5boşluğudur 2. Gönderen 7için 11öyle 4. 2 ile 50 arasında, aşağıdaki 2 boşluklu asal çiftlere sahibiz: 3-5, 5-7, 11-13, 17-19, 29-31, 41-43
n uzunluğunda bir asal boşluk, iki ardışık asal sayı arasındaki n-1 ardışık bileşik sayı dizisidir (bkz: http://mathworld.wolfram.com/PrimeGaps.html ).
Parametrelerle bir fonksiyon boşluğu yazacağız:
g (integer >= 2) aradığımız boşluğu gösterir
m (integer > 2) aramanın başlangıcını verir (m dahil)
n (integer >= m) aramanın sonunu verir (n dahil)
n 1100000'in ötesine geçmeyecek.
Yukarıdaki örnekte , 2 boşluklu 3 ile 50 arasındaki ilk çift olan gap(2, 3, 50)geri dönecektir [3, 5] or (3, 5) or {3, 5}.
Bu nedenle, bu işlev , bu sayılar aksi takdirde `nil veya null veya None veya Nothing (veya ... dile bağlı olarak) varsa , sınırlar arasında boşluk bırakılmış iki asal sayının ilk çiftini döndürmelidir .gmn
C++'da Lua: böyle bir durumda dönüş {0, 0}. F#'da: dönüş [||]. Kotlin, Dart ve Prolog'da: return []. Pascal'da: TGap (0, 0) yazın.
Örnekler:
gap(2, 5, 7) --> [5, 7] or (5, 7) or {5, 7}
gap(2, 5, 5) --> nil. In C++ {0, 0}. In F# [||]. In Kotlin, Dart and Prolog return []`
gap(4, 130, 200) --> [163, 167] or (163, 167) or {163, 167}
([193, 197] ayrıca 130 ile 200 arasında 4 boşluklu bir asal sayıdır ancak ilk çift değildir)
gap(6,100,110) --> nil or {0, 0} or ...: 100 ile 110 arasında var 101, 103, 107, 109ama 101-1076 boşluk değil çünkü arada var 103ve 103-1096 boşluk değil çünkü arada var 107.
Örnek Testlerde daha fazla iade örneği görebilirsiniz.
Git için Not
Go için: m ve n arasında boşluk olmadığında sıfır dilim beklenir. Örnek: boşluk(11,30000,100000) --> nil

In [8]:
def gap(g, m, n):
    prime_list = []
    result = []
    for i in range(m, n+1):
        count = 0
        for j in range(1, n+1) :
            if  i%j == 0: 
                count += 1
        if count < 3 and i != 0 and i != 1: 
            prime_list.append(i)
    
    for i in range(len(prime_list)-1):
        if prime_list[i+1] - prime_list[i] == g :
            result.append(prime_list[i])
            result.append(prime_list[i+1])
            break
        
        else:
            result = []
    return result        

gap(4, 130, 200)

[]

In [ ]:
def gap(g,m,n) = 130
n2 = 200

prime_list = []

for i in range(n1, n2+1):
    count = 0
    for j in range(1, n2+1) :
        if  i%j == 0: 
            count += 1
    if count < 3 and i != 0 and i != 1: 
        prime_list.append(i)
        
print(prime_list)

In [1]:
prime_list = [131, 137, 139, 149, 151, 157, 163, 167, 173, 179, 181, 191, 193, 197, 199]
len(prime_list)

15

In [4]:
result = []
for i in range(len(prime_list)-1):
    if prime_list[i+1] - prime_list[i] == 4 :
        result.append(prime_list[i])
        result.append(prime_list[i+1])
        break
result

[163, 167]

In [10]:
def my_min(*numbers):
    return min(numbers)

In [11]:
my_min(4,5,6)

4

In [9]:
min(3,4,5,9)

3

In [15]:
def my_sum(*numbers):
    return sum(numbers)

my_sum(3,5,0)

8

In [19]:
list1= ['Mike', "", 'Emme', "", 'Kelly', "", 'Brad']

result = list(filter( lambda x: x != "", list1))
result

['Mike', 'Emme', 'Kelly', 'Brad']

In [22]:
test_list = [[2,4,5], [7,8,9], [0,2,4,], [5,5,8]]

result = sum(list(map(lambda x : sum(x), test_list)))
result

59

In [ ]:
[11, 24, 6, 18]

In [33]:
n1 = 130
n2 = 200

prime_list = []

for i in range(n1, n2+1):
    count = 0
    for j in range(1, n2+1) :
        if  i%j == 0: 
            count += 1
    if count < 3 and i != 0 and i != 1: 
        prime_list.append(i)
        
print(prime_list)

[131, 137, 139, 149, 151, 157, 163, 167, 173, 179, 181, 191, 193, 197, 199]

In [25]:
number = 25

prime_list = []

for i in range(1, number+1):
    count = 0
    for j in range(1, number+1) :
        if  i%j == 0: 
            count += 1
    if count < 3 and i != 0 and i != 1: 
        prime_list.append(i)
        
print(prime_list)

[2, 3, 5, 7, 11, 13, 17, 19, 23]