In [ ]:
print('Say:I love you!')
print()
print()

In [ ]:
all() #Return True if all elements of the iterable are true (or if the iterable is empty).

In [2]:
names = ['names', 'tom']
mood = ['happy', 0]
empty = {}
print(all(names), all(mood), all(empty), sep= '\n')

True
False
True

In [ ]:
any() #Return True if any element of the iterable is true. If the iterable is empty, return False.

In [9]:
mylist = [False, 0, False]
listA= ['Susan', 'Tom', False, 0, '0']
list2 = ['aLI', 'Veli']
list3={}

print(any(mylist), any(listA), any(list2), any(list3), sep= '\n')

False
True
True
False

In [ ]:
filter() #filter(function or None, iterable) --> filter object

# Return an iterator yielding those items of iterable for which function(item)
# is true. If function is None, return the items that are true.

In [3]:
listA= ['Susan', 'Tom', False, 0, '0']

havadaki_object = filter(None, listA) # sadece True tyleri listeler

In [4]:
havadaki_object

In [5]:
for i in havadaki_object : # sadece truetylrei listeliyor
    print(i)

Susan
Tom
0

In [11]:
ages = [5, 12, 17, 18, 24, 32]

def myFunc(x):
  if x < 18:
    return False
  else:
    return True

adults = filter(myFunc, ages)
adults

In [12]:
for x in adults:
  print(x)

18
24
32