In [7]:
list1 = [11,36,33,66,89,21,32,16,10]
even = 0
odd = 0

for i in list1:
    if not i%2 :
        even += 1
    else:
        odd += 1
print(f"The number of even numbers:{even}")
print(f"The number of odd numbers:{odd}")

The number of even numbers:5
The number of odd numbers:4

In [14]:
sum1 = 0

for i in range(1, 75):
    sum1 += i
print(sum1)

2775

In [18]:
who= ['I am ', 'You are ']
mood = ['happy','confident']
for i in who:
    for ii in mood:
        print(i + ii)

I am happy
I am confident
You are happy
You are confident

In [20]:
names = ["susan", "tom", "edward"] 
mood = ["happy", "sad"]

for i in names:
    for j in mood:
        print(i, 'is', j)

susan is happy
susan is sad
tom is happy
tom is sad
edward is happy
edward is sad

# List Comprehensions

In [22]:
listem = []

for i in range (5):
    listem.append(i)
listem

[0, 1, 2, 3, 4]

In [25]:
b = [i for i in range (5)]

In [26]:
b

[0, 1, 2, 3, 4]

In [ ]:
'''
for item in iterable :
    expression
   
[expression for item in iterable]
'''

In [27]:
[i**2 for i in range(5)]

[0, 1, 4, 9, 16]

In [ ]:
[i**2 for i in range(5)]

# Ternary if statements

In [33]:
condition = True

if condition :
    a = 1
else:
    a = 0
print(a)

1

''' python


if_body if condition else else_body
'''

In [35]:
1 if condition else 0

1

In [36]:
a = 1 if condition else 0
print(a)

1

In [37]:
print(1 if False else 0)

0

In [38]:
listem = [1,2,3,4,5,6]

In [39]:
[ i**2 for i in listem]

SyntaxError: invalid syntax (Temp/ipykernel_16536/2103044236.py, line 1)

In [40]:
[i**2 for i in listem if i % 2]

[1, 9, 25]

In [41]:
[i**2 for i in listem ]

[1, 4, 9, 16, 25, 36]