In [ ]:
# filter(function, iterable)

In [ ]:
enumerate

In [3]:
grocery = ['bread', 'water', 'olive']
enum_grocery = enumerate(grocery)

print(list(enum_grocery))

[(0, 'bread'), (1, 'water'), (2, 'olive')]

In [ ]:
enum_grocery = enumerate(grocery)

In [4]:
min([-222, 0, 16])

-222

In [6]:
numbers = [2.5, 30, -15]

In [8]:
numbers_sum = sum(numbers)
numbers_sum

17.5

In [ ]:
sum()

In [10]:
numbers_sum = sum(numbers, 20)
numbers_sum

37.5

In [12]:
round(3.675, 2)

3.67

In [13]:
round(3.665, 2)

3.67

In [16]:
def multiply(a, b):
    print(a*b)
    
multiply(3, 5)
multiply(-1, 2.5)
multiply('amazing ', 3)

15
-2.5
amazing amazing amazing

In [ ]:
def motto():
    print("Don't hesitate to reinvent yourself")

In [20]:
def mevlana():
    print(" Cömertlik ve yardım etme gibi ol Şefkat ve merhamette güneş \
Başkalarının kusurunu örtmede gece gibi ol.\
Hiddet ve asabivette ölü gibi ol.\
Tevazu ve alçak gönüllülükte toprak gibi ol.\
Hoşgörülükte deniz gibi ol.\
Ya olduğun gibi görün, ya göründuğün gibi ol.")

In [21]:
mevlana()

 Cömertlik ve yardım etme gibi ol Şefkat ve merhamette güneş Başkalarının kusurunu örtmede gece gibi ol.Hiddet ve asabivette ölü gibi ol.Tevazu ve alçak gönüllülükte toprak gibi ol.Hoşgörülükte deniz gibi ol.Ya olduğun gibi görün, ya göründiiğün gibi ol.

In [18]:
def add(a, b):
    print(a + b)

In [19]:
add(-3,5)

2

In [28]:
def calculator(x, y, z):
    if z == '+' :
        print(x + y) 
    elif z == '-':
        print(x - y)
    elif z == '*':
        print(x * y)
    elif z == '/':
        print(x / y)
    else :
        print("Enter a valid opr.")

In [29]:
calculator(3, 6, '*')

18

In [30]:
def multiply_2(a, b):
    return(a * b)

print(multiply_2(10, 5))

50

In [32]:
print(type(multiply_2(10, 5)))

<class 'int'>

In [34]:
type(print())

NoneType

In [35]:
def calculator_2 (x, y, z):
    if z == '+' :
        return (x + y) 
    elif z == '-':
        return (x - y)
    elif z == '*':
        return (x * y)
    elif z == '/':
        return (x / y)
    else :return "Enter a valid opr."

In [37]:
print(calculator_2(9, 2, '+'))

11

In [38]:
print(calculator_2(9, 2, '&'))

Enter a valid opr.

In [41]:
def absolute_value(num) :
    """This function  gives absolute value 
of the entered number"""
    
    if num < 0:
        return -num
    else:
        return num

In [40]:
absolute_value(-22)

22

In [42]:
print(absolute_value.__doc__)

This function  gives absolute value
    of the entered number

In [43]:
print(print.__doc__)

print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

Prints the values to a stream, or to sys.stdout by default.
Optional keyword arguments:
file:  a file-like object (stream); defaults to the current sys.stdout.
sep:   string inserted between values, default a space.
end:   string appended after the last value, default a newline.
flush: whether to forcibly flush the stream.

In [44]:
print(abs.__doc__)

Return the absolute value of the argument.