Defining a Lambda Function

Another way to define functions in Python is lambda functions. Lambda functions are also called anonymous functions since they have no name. We use keyword lambda to define a function.

The formula syntax is : lambda parameters : expression

In [ ]:
def square(x)
    return x**2

In [3]:
(lambda x: x**2) (4)

16

In [4]:
lambda x, y: (x+y)/2  # takes two numbers, returns the result

In [ ]:
lambda x: 'odd' if x % 2 != 0 else 'even'

lambda parameters : first_result if conditional statement else second_result

In [5]:
print((lambda x: x**2)(2))

4

In [6]:
(lambda x: x**2)(2)  # squares '2'

4

In [9]:
print((lambda x, y: (x+y)/2)(3, 5))  # takes two int, returns mean of them

4.0

In [10]:
average = (lambda x, y: (x+y)/2)(3, 5) 
print(average)

4.0

In [11]:
average = lambda x, y: (x+y)/2
print(average(3, 5))  # we call

4.0

map(function, iterable)

In [ ]:
map()

In [21]:
iterable = [1, 2, 3, 4, 5]

map(lambda x:x**2, iterable)

result = map(lambda x:x**2, iterable)

print(type(result))  # it's a map type

print(list(result))  # we've converted it to list type to print

print(list(map(lambda x:x**2, iterable)))  # you can print directly

<class 'map'>
[1, 4, 9, 16, 25]
[1, 4, 9, 16, 25]

In [14]:
print(result)

<map object at 0x000001D22DD6D5B0>

In [15]:
map(lambda x:x**2, iterable)

In [16]:
x = [1, 2, 3]
y = [4, 5, 6]
zipped = zip(x, y)
list(zipped)

[(1, 4), (2, 5), (3, 6)]

In [19]:
print(zipped)

<zip object at 0x000001D22DC51600>

In [22]:
def square(n):   # at least two additional lines of code
    return n**2  
  
iterable = [1, 2, 3, 4, 5]
result = map(square, iterable) 
print(list(result))

[1, 4, 9, 16, 25]

In [23]:
letter1 = ['o', 's', 't', 't']
letter2 = ['n', 'i', 'e', 'w']
letter3 = ['e', 'x', 'n', 'o']
numbers = map(lambda x, y, z: x+y+z, letter1, letter2, letter3)

print(list(numbers))

['one', 'six', 'ten', 'two']

ilter() filters the given sequence (iterable objects) with the help of a function (lambda) that tests each element in the sequence to be true or not.

The basic formula syntax is : filter(function, sequence)

In [ ]:
filter()

In [24]:
first_ten = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9] 
  
even = filter(lambda x:x%2==0, first_ten) 
print(type(even))  # it's 'filter' type, 
                   # in order to print the result,
                   # we'd better convert it into the list type

print('Even numbers are :', list(even))

<class 'filter'>
Even numbers are : [0, 2, 4, 6, 8]

In [33]:
even = filter(lambda x:x%2==0, range(1, 20)) 
print(even)

[<filter object at 0x000001D22DD6D430>]

In [31]:
print(list(even))

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [34]:
vowel_list = ['a', 'e', 'i', 'o', 'u']
first_ten = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
  
vowels = filter(lambda x: True if x in vowel_list else False, first_ten) 

print('Vowels are :', list(vowels))

Vowels are : ['a', 'e', 'i']

In [36]:
text = 'Stockton is very nice place to live, but it is small nice town'
text.split()

nice = filter(lambda x: True if x == 'nice' else False, text.split() )
print(list(nice))

['nice', 'nice']

In [37]:
number_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

result = list(filter(lambda x: True if x >= 6 else False, number_list))
print(result)

[6, 7, 8, 9, 10]

In [38]:
def modular_function(n):
    return lambda x: x ** n
    
power_of_2 = modular_function(2)  # first sub-function derived from def
power_of_3 = modular_function(3)  # second sub-function derived from def
power_of_4 = modular_function(4)  # third sub-function derived from def

print(power_of_2(2))  # 2 to the power of 2
print(power_of_3(2))  # 2 to the power of 3
print(power_of_4(2))  # 2 to the power of 4

4
8
16

In [39]:
print(modular_function(2))

<function modular_function.<locals>.<lambda> at 0x000001D22F31F430>

In [44]:
print(power_of_3(5))

125

In [45]:
def repeater(n):
    return lambda x: x * n
    
repeat_2_times = repeater(2)  # repeats 2 times
repeat_3_times = repeater(3)  # repeats 3 times
repeat_4_times = repeater(4)  # repeats 4 times

print(repeat_2_times('alex '))
print(repeat_3_times('lara '))
print(repeat_4_times('linda '))

alex alex
lara lara lara
linda linda linda linda

In [48]:
repeat_5_times = repeater(5)

print(repeat_5_times('I love you, '))

I love you, I love you, I love you, I love you, I love you,

In [50]:
repeat_5_times(10)

50

In [51]:
repeater(5)

In [52]:
number_list = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12] 
divisible_list = filter(lambda x:x%3==0, number_list) 
print(list(divisible_list))

[0, 3, 6, 9, 12]

In [54]:
number_list=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

result= list(filter(lambda x: x%2 != 0, number_list))   
print(result)

[1, 3, 5, 7, 9]