Salyangoz Sıralaması
Bir n x ndizi verildiğinde , en dıştaki öğelerden ortadaki öğeye düzenlenen dizi öğelerini saat yönünde hareket ettirin.
array = [[1,2,3],
         [4,5,6],
         [7,8,9]]
         
snail(array) #=> [1,2,3,6,9,8,7,4,5]

Daha iyi anlamak için lütfen bir sonraki dizinin numaralarını art arda takip edin:

array = [[1,2,3],
         [8,9,4],
         [7,6,5]]
         
snail(array) #=> [1,2,3,4,5,6,7,8,9]

In [25]:
def snail(list1):
    if len(list1) < 1:
        return list1
    else:
        outer = list1[0] + [item[-1] for item in list1[1:-1]] + list1[-1][::-1] + [item[0] for item in list1[-2:0:-1]]
    
        inner = [item[1:-1] for item in list1[1:-1]]
    
        return outer + snail(inner)




list2= [[ 1,  2,  3,  4,  5,  6],
         [ 7,  8,  9, 10, 11, 12],
         [13, 14, 15, 16, 17, 18],
         [19, 20, 21, 22, 23, 24],
         [25, 26, 27, 28, 29, 30],
         [31, 32, 33, 34, 35, 36]]
print(snail(list2))

[1, 2, 3, 4, 5, 6, 12, 18, 24, 30, 36, 35, 34, 33, 32, 31, 25, 19, 13, 7, 8, 9, 10, 11, 17, 23, 29, 28, 27, 26, 20, 14, 15, 16, 22, 21]

In [29]:
def snail(list1):
    if len(list1) < 1:
        return list1
    else:
        outer = list1[0] + [item[-1] for item in list1[1:-1]] + list1[-1][::-1] + [item[0] for item in list1[-2:0:-1]]
    
        inner = [item[1:-1] for item in list1[1:-1]]
    
        return outer +  inner #+ snail(inner)




list2= [[ 1,  2,  3,  4,  5,  6],
         [ 7,  8,  9, 10, 11, 12],
         [13, 14, 15, 16, 17, 18],
         [19, 20, 21, 22, 23, 24],
         [25, 26, 27, 28, 29, 30],
         [31, 32, 33, 34, 35, 36]]
print(snail(list2))

[1, 2, 3, 4, 5, 6, 12, 18, 24, 30, 36, 35, 34, 33, 32, 31, 25, 19, 13, 7, [8, 9, 10, 11], [14, 15, 16, 17], [20, 21, 22, 23], [26, 27, 28, 29]]

In [31]:
array1 = [[1,2,3]]
snail(array1)

[1, 2, 3, 3, 2, 1]

In [18]:
[1,2,3] + [4,5,6]

[1, 2, 3, 4, 5, 6]

In [20]:
array = [[1,2,3],
         [4,5,6],
         [7,8,9]]

In [23]:
array[0]+array[1]+array[2]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [28]:
list2[-2:0:-1]

[[25, 26, 27, 28, 29, 30],
 [19, 20, 21, 22, 23, 24],
 [13, 14, 15, 16, 17, 18],
 [7, 8, 9, 10, 11, 12]]

In [9]:
result = []

# for x in range(len(array[0])*len(array)):
#     result.append(array[0][])

for i in array :
    for j in range(len(array[0])):
        result.append(i[j])

result

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [3]:
array[1][-1]

6

This time we want to write calculations using functions and get the results. Let's have a look at some examples:

seven(times(five())) # must return 35

four(plus(nine())) # must return 13

eight(minus(three())) # must return 5

six(divided_by(two())) # must return 3

Requirements:

There must be a function for each number from 0 ("zero") to 9 ("nine")
There must be a function for each of the following mathematical operations: plus, minus, times, dividedBy (divided_by in Ruby and Python)
Each calculation consist of exactly one operation and two numbers
The most outer function represents the left operand, the most inner function represents the right operand
Division should be integer division. For example, this should return 2, not 2.666666...:
eight(divided_by(three()))

In [ ]:
def two(): #your code here
def three(): #your code here
def four(): #your code here
def five(): #your code here
def six(): #your code here
def seven(): #your code here
def eight(): #your code here
def nine(): #your code here

def plus(): #your code here
def minus(): #your code here
def times(): #your code here
def divided_by(): #your code here

In [ ]:
def four():
    return 4
    
    
    
def plus(number):
    return 
    #your code here

In [ ]:
four(plus(nine()))  ##13

In [8]:
def seven(operation = None):
    if operation == None:
        return 7
    else:
        return operation(7)
def five(operation = None):
     if operation == None:
        return 5
     else:
        return operation(5)
def times(number):
    return lambda x: x * number

In [10]:
seven(times(seven()))

49

In [14]:
times(seven())

In [16]:
def two(n = None):
    return 2 if n == None else n(2)

def three(n = None):
    return 3 if n == None else n(3)

def four(n = None):
    return 4 if n == None else n(4)
    
def five(n = None):
    return 5 if n == None else n(5)

def six(n = None):
    return 6 if n == None else n(6)
    
def seven(n = None):
    return 7 if n == None else n(7)

def eight(n = None):
    return 8 if n == None else n(8)

def nine(n = None):
    return 9 if n == None else n(9)

    
    
def times(number):
    return lambda x: x * number

def plus(number):
    return lambda x: x + number

def minus(number):
    return lambda x: x - number

def divided_by(number):
    return lambda x: x // number

In [17]:
two(plus(nine()))

11

In [6]:
5 /2

2.5

In [12]:
four()

4